<nav class="cover-navigation navigation--social">
  <ul class="navigation">


      <!-- Github -->
      <li class="navigation__item">
          <a href="https://github.com/ProgrammerLeon" title="@Leon 的 Github" target="_blank">
              <i class='social fa fa-github'></i>
              <span class="label">Github</span>
          </a>
      </li>

      <!--&lt;!&ndash; Weibo &ndash;&gt;-->
      <!--<li class="navigation__item">-->
      <!--<a href="http://weibo.com/onevcat" title="@onevcat 的微博" target="_blank">-->
      <!--<i class='social fa fa-weibo'></i>-->
      <!--<span class="label">Weibo</span>-->
      <!--</a>-->
      <!--</li>-->


  <!-- QQ -->
  <li class="navigation__item">
    <a href="http://wpa.qq.com/msgrd?v=3&uin=1124298701&site=qq&menu=yes" title="@Leon" target="_blank">
      <i class='social fa fa-qq'></i>
      <span class="label">QQ</span>
    </a>
  </li>
  
  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@blog.url}}/rss/" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:leon@pgleon.com" title="邮件联系我">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>